NEXT_PUBLIC_SUPABASE_URL=https://[YOUR_PROJECT_ID].supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=[YOUR_ANON_KEY]
NEXT_PUBLIC_ATTENDANT_ACCOUNTS=Attendant 1|attendant1@mhenching.local|MHC-1-7429;Attendant 2|attendant2@mhenching.local|MHC-2-6184
NEXT_PUBLIC_MANAGER_PIN=1234
